<p id="notice"><%= notice %></p>

<p>
  <strong>Dev eui:</strong>
  <%= @device.dev_eui %>
</p>

<p>
  <strong>Location:</strong>
  <%= @device.Location %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
